<head>
	<style>
		.column {
	    float: left;
	    width: 16.66%;
		}

		/* Clear floats after the columns */
		.row:after {
		    content: "";
		    display: table;
		    clear: both;
		}

		.agregarInput {
			float: right;
			clear: both;
		}

	</style>
</head>

<body>
	<h1>Lista de empleados</h1>

	<div>
		<form action="{% url 'agregarNuevoEmpleado' %}" method="get">
			<input type="submit"  class="agregarInput" value="Agregar Nuevo Empleado"><br>
		</form>
	</div>

	<div>
		<h3>Busqueda filtrada:</h3>
	</div>

	<div>
		<form action="{% url 'buscar' %}" method="get">
			<div class="row">
				<div class="column">
					<label>Nombre</label><br>
					<input type="text" name="nombre">
				</div>
				<div class="column">
					<label>Apellido</label><br>
					<input type="text" name="apellido">
				</div>
				<div class="column">
					<label>Direccion</label><br>
					<input type="text" name="direccion">
				</div>
				<div class="column">
					<label>Telefono</label><br>
					<input type="text" name="telefono">
				</div>
				<div class="column">
					<label>Correo</label><br>
					<input type="text" name="correo">
				</div>
				<div class="column">
					<label>Fecha contratacion</label><br>
					<input type="text" name="fecha_contratacion">
				</div>
			</div><br>
			<div class="row">
				<div class="column">
					<label>Edad</label><br>
					<input type="text" name="edad">
				</div>
				<div class="column">
					<label>DPI</label><br>
					<input type="text" name="dpi">
				</div>
				<div class="column">
					<label>Sexo</label><br>
					<input type="text" name="sexo">
				</div>
				<div class="column">
					<label>Puesto</label><br>
					<input type="text" name="puesto">
				</div>
				<div class="column">
					<label>Tipo Empleado</label><br>
					<input type="text" name="tipo_empleado">
				</div>
				<div class="column">
					<label>Salario</label><br>
					<input type="text" name="salario">
				</div>
			</div><br>
			<div class="row">
				<div class="column">
					<label>Twitter</label><br>
					<input type="text" name="twitter">
				</div>
			</div>
		 <br><br>
		<input type="submit" name="Buscar" value="Buscar"><br>
		</form>
	</div>



	<div>
		<br>
		<h2>Empleados</h2> 
		<script type="text/javascript">
			var empleados = {{empleados|safe}};
			var str1 = "<li><a ";
			var str2 = "href='/taller/listaEmpleados/perfilEmpleado/"
			var str3 = "/'>"
			var str4 = "</a></li>";

			for (var i = 0; i < empleados.length; i++) {
				var empleado = empleados[i];
				var nombre = empleado['Nombre'] + " " + empleado['Apellido'] + ", Numero Identificacion: " + empleado['id_empleado'] + ", Twitter: " + empleado['Twitter'];
				var id = empleado['id_empleado'];

				document.write(str1.concat(str2,id,str3,nombre,str4));

			}
		</script>
	</div>

	
</body>